body{
    margin: 0;
    padding:0;
    height: 100vh;
}

.left_patient_data_menu{
    padding:0px;
    height: 100vh;
}
.bar-marker {
    position:absolute;
    margin-top:-20px;
	z-index:1;
    font-size:12px;
}
.bar-marker-txt {
    float: left;
}

.bar-marker-line {
    float: right;
    background: #000;
    height:50px;
	width:1px;
    margin-left: 5px;
}

.bar-marker-percent {
    float: right;
    margin-left: 5px;   
}